body {
   background: background: #4CA1AF;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.logo-border {
    border: 10px #e74c3c solid;
    display: inline-block;
    padding: 76px 40px 5px 10px;
}
.logo-border span {
    color: #e74c3c;
    font-weight: bold;
    font-size: 45px;
    font-family: 'Abril Fatface', cursive;
}

.logo p {

    margin-left: 4px;
    color: #7f8c8d;
    font-weight: bold;
    font-size: 15px;
}

.interior-grid h3 {
    background: #e74c3c !important;
}

.new-section h3 {
    font-size: 2em;
    text-transform: capitalize;
    margin-bottom: 1em;
    font-family: 'Exo-SemiBold';

}
.company-section {

    text-align: justify !important;
}
.company-section p {
    margin-bottom: 20px;
    margin-top: 20px;
}

.costumer-profile-1{

    text-align: justify !important;
    margin-top: 20px;
}

.costumer-profile-grids p {

    margin-top: 20px;
    margin-bottom: 20px;
}
.costumer-profile-2 .col-md-4 {

    padding-left: 28px;
}
.costumer-profile-2 {

    text-align: left !important;
    margin-top: 20px;
}

.costumer-profile-2 .right {

    padding-top: 20px;
}

.card {

    text-align: justify !important;
    margin-top: 2rem;
}
.card-body {

    border: 1px #CCCCCC solid;
    padding: 1.25rem;;
}
.card-title {
    margin-bottom: .75rem;
}

.card-body p {

    margin-bottom: 1rem;

}
